@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}
@{
    ViewBag.Title = "系统关闭";
}

<div class="row-fluid" style="height:35%">
 </div>
<div class="alert alert-error" style="text-align:center">系统维护中，请稍后登录。</div>