@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HospitalRevisitSystem.tbInvestigation_Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbInvestigation_Question</legend>

 

    <div class="display-label">
         回访内容
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Review_Content)
    </div>

    <div class="display-label">
         TTs合成语音文件路径
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.File_Paths)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.HiddenFor(model => model.Investigation_Question_ID)
    <p>
            @Html.ActionLink("取消", "Index","InvestigationQuestion",null,new {@class= "btn"}) <input type="submit" value="提交" class="btn btn-success" />
        </p>
}
